{# Renders a list of the site's least popular groups. #}
<section class="module-content categories-list">
  <div>
    {% for group in h.open_data_dc_least_popular_groups() %}
      <a href="{{ h.url_for('group_read', action='read', id=group.name) }}">
        <div class="category">
          <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" />
          <h3>{{ group.display_name}}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
<section>
