<nav class="navbar navbar-expand-lg navbar-light bg-light shadow bg-white">
    <a class="navbar-brand ml-5" href="{{ h.url('home') }}">Open Data DC</a>
    <div class="navbar-nav d-none d-md-flex">
    <a class="nav-item nav-link" href="/dataset">Data</a>
        {% if c.userobj %}
        <a class="nav-item nav-link" href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a>
        <a class="nav-item nav-link" href="http://codefordc.org" title="Code for DC">Code for DC</a>
        {% else %}
        <a class="nav-item nav-link " href="/user/login">Login</a>
        {% if h.check_access('user_create') %}
        <a class="nav-item nav-link" href="/user/register">Register</a>
        {% endif %}
        {% endif %}
        {% block footer_debug %} {% if g.debug %} {% include 'snippets/debug.html' %} {% endif %} {% endblock %}
    </div>
</nav>