{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}
  <div class="side-panel shadow-lg">
    <div class="list-group">
      <a id="side-panel-close" href="#" class="list-group-item list-group-item-action"><i class="material-icons">close</i></a>
      <a href="/organization" class="list-group-item list-group-item-action">Organizations</a>
      <a href="/group" class="list-group-item list-group-item-action">Categories</a>
      <a href="/dataset" class="list-group-item list-group-item-action">Data</a>
      <a href="/about" class="list-group-item list-group-item-action">About</a>
      <a href="/datarequests" class="list-group-item list-group-item-action">Data Requests</a>
      {% if c.userobj %}
        {% if c.userobj.sysadmin %}
          <a class="list-group-item list-group-item-action" href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            Administration
          </a>
        {% endif %}
        <a class="list-group-item list-group-item-action" href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
          {{ c.userobj.display_name }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
          {{ _('Settings') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
          {{ _('Log out') }}
        </a>
      {% else %}
        <a class="list-group-item list-group-item-action" href="/user/login">Log In</a>
        <a class="list-group-item list-group-item-action" href="/user/register">Register</a>
      {% endif %}
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow bg-white header">
    <span href="#" class="text-center" id="side-panel-open" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons align-middle">view_headline</i>
    </span>
    <a class="navbar-brand ml-5" href="{{ h.url('home') }}">Open Data DC</a>
    <div class="navbar-nav d-none d-md-flex">
      <a class="nav-item nav-link" href="/dataset">Data</a>
      {% if c.userobj %}
      <a class="nav-item nav-link" href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">{{ _('Settings') }}</a>
      <a class="nav-item nav-link" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">{{ _('Log out') }}</a>
      {% else %}
      <a class="nav-item nav-link " href="/user/login">Login</a>
      {% if h.check_access('user_create') %}
      <a class="nav-item nav-link" href="/user/register">Register</a>
      {% endif %}
      {% endif %}
    </div>
{% endblock %}
</nav>
{% endblock %}